<%
  kafka_brokers = []
  if_link("kafka") do |kafka_link| 
    kafka_link.instances.each do |instance|
      kafka_brokers << "#{instance.address}:9092"
    end
  end

  elasticsearch_nodes = []
  if_link("elasticsearch") do |elasticsearch_link| 
    elasticsearch_link.instances.each do |instance|
      elasticsearch_nodes << "#{elasticsearch_link.p('elasticsearch.client.protocol')}://#{instance.address}:9200"
    end
  end
%>

- pipeline.id: platform-app-logs
  config.string: |+
    input {
      kafka {
        bootstrap_servers => "<%= kafka_brokers.join(',') %>"
        client_id => "payment"
        group_id => "payment"
        consumer_threads => 3
        <% if_p('logstash.kafka.topic') do |topic| %> 
        topics => ["<%= topic %>"]
        <% end %>
        codec => "json"
      }
    }

    output {
      elasticsearch {
        hosts => <%= elasticsearch_nodes %>
        <% if_p('logstash.kafka.indexpattern') do |indexpattern| %> 
        index => "<%=indexpattern %>-%{+YYYY.MM.dd}"
        <% end %>
        user => "<%= p('elasticsearch.username') %>"
        password => "<%= p('elasticsearch.password') %>"
      }
    }

<% p("logstash.pipelines", []).each do |pipeline| %>

- pipeline.id: <%= pipeline["name"] %>
  path.config: "/var/vcap/jobs/logstash/config/conf.d/<%= pipeline['name'] %>/*.conf"
<% if pipeline["params"] != nil && !pipeline["params"].empty? %><% pipeline["params"].each do | k , v | %>  <%= k %> : <%= v %>
<% end %>
<% end %>
<% end %>
