<%
  kafka_brokers = []
  if_link("kafka") do |kafka_link| 
    kafka_link.instances.each do |instance|
      kafka_brokers << "#{instance.address}:9092"
    end
  end

  elasticsearch_nodes = []
  if_link("elasticsearch") do |elasticsearch_nodes| 
    elasticsearch_nodes.instances.each do |instance|
      elasticsearch_nodes << "http://#{instance.address}:9200"
    end
  end
%>

- pipeline.id: platform-app-logs
  path.config: "/var/vcap/jobs/logstash/config/conf.d/platform-app-logs/*.conf"
  all: |
    input {
      kafka {
        bootstrap_servers => <%= kafka_brokers.join(',') %>
        client_id => "payment"
        group_id => "payment"
        consumer_threads => 3
        topics => ["platform-app-logs"]
        codec => "json"
      }
    }

    output {
      elasticsearch {
        hosts => <%= elasticsearch_nodes %>
        index => "%{[logMessage][app.org]}-%{[logMessage][app.space]}-%{+YYYY.MM.dd}"
        #user => "elastic"
        #password => "changeme"
      }
    }
<% p("logstash.pipelines", []).each do |pipeline| %>
- pipeline.id: <%= pipeline["name"] %>
  path.config: "/var/vcap/jobs/logstash/config/conf.d/<%= pipeline['name'] %>/*.conf"
<% if pipeline["params"] != nil && !pipeline["params"].empty? %><% pipeline["params"].each do | k , v | %>  <%= k %> : <%= v %>
<% end %>
<% end %>
<% end %>
